/* general */

body {
    font-family: Cormorant Garamond;
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url(images/Background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

html {
    font-size: 16px;

    @media screen and (max-width: 540px) {
        font-size: 12px;

        .cards p {
            font-size:0.8rem;
        }
        .cards h3 {
            font-size:0.8rem;
        }
    }

    @media screen and (max-width: 900px){
        .cards p {
            font-size:1.1rem;
        }
        .cards h3 {
            font-size:1.1rem;
        }
    }
}

/* navegador */

.menu_checkbox {
    display: none;
}

.menu_checkbox:checked + ul {
    width: 20vw;
}

nav {
    color: #ffffff;
    height:100%;
    width:20vw;
    position: fixed;
    left:0;
    top:0;
    padding-top: 2vh;
    padding-left: 1vw;
}

nav ul {
    list-style-type: none;
    margin: 0;
    width: 0;
    overflow:hidden;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1vh;
    padding-left: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
    transition: all .3s;
}

@media (max-width: 800px) {
    .menu_checkbox:checked + ul {
        width: 10vw;
    }
    nav ul li a {
        font-size: 0.8rem;
    }
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
}

/* header */

header {
    text-align: center;
}

header img {
    max-width: 70vw;
    width: auto;
    height: 14rem;
}

#portfolio_header img {
    max-width: 70vw;
    width: auto;
    height: 6.5rem;
    padding-top: 2vh;
    padding-bottom: 4vh;
}

#sobrenosotros_header img {
    max-width: 70vw;
    width: auto;
    height: 6.5rem;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

/* main */
main {
    padding: 0vh 15vw;
}

main h1 {
    text-align: center;
    color: #ffffff;
}

main h2 {
    color: #ffffff;
    font-size: 2.5rem;
}

main p {
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#carousel {
    padding-top:1rem;
    display: flex;
    justify-content:center;
    align-items:center;
}

.imagen_cen {
    width:auto;
    height:15rem;
    z-index: 3;
    margin: 0 -1vw;
}

.imagen_izq, .imagen_der {
    width:auto;
    height:10rem;
    z-index: 1;
}

/* servicios */

#serviciosimg {
    max-width: 60vw;
    width: auto;
    height: 10rem;
    display: block;
    margin: 0 auto;

}

#main_servicios p {
    font-size: 1.5rem;
}

.cards {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cards img{
    max-width: 100%;
    width: 7vw;
    height:auto;
    padding: 2vh 3vw;
}

.card1, .card2, .card3 {
    width:20vw;
    height:auto;
    border: 0.15vw solid #ffffff;
    border-radius:1vw;
    font-size:1.5rem;
    text-align:center;
}

.card1, .card2, .card3, h3 {
    padding: 0vh 1vw 1vh;
}

.card1, .card2, .card3, p {
    padding: 0vh 1vw 3vh;
}

/* sobre nosotros */

#Misión {
    text-align: center;
}

#Visión {
    text-align: center;
}

#Valores {
    text-align: center;
}

#Valores ul {
    list-style-type: disc;
    list-style-position: inside;
    text-align: center;
    font-size:1.5rem;
}

/* portfolio */

#FotosPortfolio ul {
    list-style-type: none;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

#FotosPortfolio img {
    max-width: 100%;
    width: 25rem;
    height: auto;
}

/* footer */

footer {
    background: rgba(4, 4, 4, 0.00);
    color: #fff;
    padding: 5vh 0 1vh;
    width: 100%;
    height:fit-content;
    text-align: center;
    display:flex;
    flex-direction:column;
    margin-top:auto;
}

footer ul {
    list-style-type: none;
    display:flex;
    flex-direction:row;
    justify-content: center;
}

footer img {
    width: auto;
    height: 3vh;
}

footer p {
    flex-shrink: 0;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
}

